<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Proxy</title>
    <meta name="description"
        content="hideip networkis a highly sophisticated proxy used for evading internet censorship or accessing websites in a controlled sandbox using the power of service-workers. Unblock sites today!" />
    <meta name="keywords"
        content="proxy, web proxy, hideip, service workers, unblock websites, unblock chromebook, free web proxy, proxy list, proxy sites, un block chromebook, online proxy, proxy server, proxysite, proxy youtube, bypass securly, bypass iboss, bypass lightspeed filter, hideip, chromebooks, hideip network, unblock youtube, youtube proxy, unblocked youtube, youtube unblocked">
    <link rel="shortcut icon" href="./static/img/logo.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" href="https://static.jsproxy.cyou/static/css/index.css">
    <script src="https://static.jsproxy.cyou/static/js/vue.min.js"></script>
    <script src="https://static.jsproxy.cyou/static/js/base64.min.js"></script>
    <script src="https://static.jsproxy.cyou/static/js/sweetalert2.all.min.js"></script>
    <script src="https://static.jsproxy.cyou/static/js/console-ban.min.js"></script>
    <script src="https://static.jsproxy.cyou/static/js/index.js"></script>
</head>

<body>
    <div class="container" id="root">
        <div class="content">
            <div class="box">
                <div class="time" id="titleText"></div>
                <div class="inp" :class="[errStatus ? 'err' : '']">
                    <input type="text" value="" :placeholder="pld" @input="handleInput" @blur="checkBlur"
                        @focus="checkFocus" v-model="val" @keyup.enter="handleCheck" @keyup.down="handleDown"
                        @keyup.up="handleUp">
                    <img src="https://static.jsproxy.cyou/static/img/search.svg" alt="" @click="handleCheck">
                    <div class="list" v-show="listShow" v-cloak>
                        <div v-for="(item,index) in wdArr" @click="handleChoose(item,index)"
                            :class="[kindex == index ? 'val-choose':'']" :key="index">
                            {{item.text}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bookmark" :class="{'bindex':isZindex}" v-show="optionObj.bookmark" v-cloak>
                <div class="book" v-for="(items,indexs) in bookArr" :key="indexs">
                    <div class="bimg">
                        <img :src="items.icon" v-if="items.icon" alt="" @click="addBook(indexs,items)">
                        <div class="noimg" v-else @click="addBook(indexs,items)">{{items.name.substring(0,1)}}</div>
                        <div class="edit" @click="editShow(indexs)" v-if="indexs !== bookArr.length - 1">...</div>
                        <div class="dlog" :class="current == indexs ? 'dlogShow' : 'dlogClose'" @mouseleave="leave">
                            <div @click="mobifBook(items)">修改</div>
                            <div @click="moveBook(items,indexs)">移除</div>
                        </div>
                    </div>
                    <div class="btext" @click="addBook(indexs,items)">{{items.name}}</div>
                </div>
            </div>
        </div>
        <div class="sponsor" id="sponsor">
            <h2>Special Sponsor</h2>
            <div class="sbox">
                <div class="simg" v-for="(it,id) in spArr" :key="id">
                    <a :href="it.url" target="_blank" rel="noopener noreferrer"><img :src="it.img" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="setting">
            <div class="left-icon" @click="handleSet">
                <img src="https://store.heytapimage.com/cdo-portal/feedback/202208/21/d87d4620e738bf42d4e2addc578eb698.png"
                    alt="">
            </div>
            <div class="setlist" v-show="setShow" v-cloak>
                <div class="s-box">
                    <div>👁‍🗨Show BookMark?</div>
                    <span>Yes<input type="checkbox" v-model="optionObj.bookmark" @input="setBook"></span>
                </div>
                <hr>
                <!-- password -->
                <div class="code-box">
                    <div class="title">💨 get password 💥</div>
                    <div class="codes-box">
                        <canvas ref="checkCode" @click="getCode"></canvas>
                        <input v-model="inputCode" />
                        <button @click="checkMe" :disabled="disabled">OK</button>
                    </div>
                    <div class="verify">{{verify}}</div>
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="https://app.vmiss.com/aff.php?aff=10" target="_blank" rel="noopener noreferrer">
                <img src="https://store.heytapimage.com/cdo-portal/feedback/202207/24/b1d32d88a31ecfdd9f11c52ba570adaf.png"
                    alt="cheap vps" srcset="">
            </a>
            <a href="https://discord.gg/sg83wA4TGK" target="_blank" rel="noopener noreferrer">
                <img src="https://store.heytapimage.com/cdo-portal/feedback/202207/24/56a47ee385a591166ffaece85b385014.png"
                    alt="hideip network discord">
            </a>
            <a href="https://t.me/hideipnetwork" target="_blank" rel="noopener noreferrer">
                <img src="https://store.heytapimage.com/cdo-portal/feedback/202207/24/24f67b6264d379960e4144d3b8dbe066.png"
                    alt="hideip network telegram">
            </a>
        </div>
        <!-- diglog -->
        <div class="modal" v-show="digLog" v-cloak>
            <div class="mbox">
                <h3>添加快捷方式</h3>
                <div>
                    <h5><span style="color: #b83941;">*</span> 名称</h5>
                    <input type="text" placeholder="请输入名称" v-model="bookObj.title" @focus="dwar1 = false">
                    <span class="dwar" v-show="dwar1">信息错误</span>
                </div>
                <div>
                    <h5><span style="color: #b83941;">*</span> 网址</h5>
                    <input type="text" placeholder="https://www.google.com" v-model="bookObj.siteLink"
                        @focus="dwar2 = false">
                    <span class="dwar" v-show="dwar2">信息错误</span>
                </div>
                <div class="bc">
                    <div @click="cancelBook">取消</div>
                    <div @click="handleAdd">完成</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const PAGE_CONF_SET = 110
        const PAGE_CONF_GET = 111

        const SW_CONF_RETURN = 112
        const SW_CONF_CHANGE = 113

        const PAGE_READY_CHECK = 200
        const SW_READY = 201

        const sw = navigator.serviceWorker


        sw.addEventListener('message', onSwMsg)
        sendMsgToSw(PAGE_READY_CHECK)

        function onSwMsg(e) {
            const [cmd, msg] = e.data

            switch (cmd) {
                case SW_CONF_RETURN:
                    conf = msg
                    break;

                case SW_CONF_CHANGE:
                    conf = msg
                    break;

                case SW_READY:
                    console.log('sw ready')
                    // showIcons()
                    sendMsgToSw(PAGE_CONF_GET)
                    break;
            }
        }

        function sendMsgToSw(cmd, val) {
            const ctl = sw.controller
            if (!ctl) {
                console.log('ctl is null')
                return
            }
            ctl.postMessage([cmd, val])
        }

        /******time********/
        function Time() {
            let titleText = document.querySelector('#titleText')
            var date = new Date();
            year = date.getFullYear();
            month = date.getMonth() + 1;
            day = date.getDate();
            hours = date.getHours();
            minutes = date.getMinutes();
            seconds = date.getSeconds();
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            titleText.innerText = hours + ":" + minutes + ':' + seconds;
            currentTime = year + "年" + month + "月" + day + "日 " + hours + ":" + minutes;
        };
        setInterval("Time()", 1000);
    </script>
    <script src="https://static.jsproxy.cyou/static/js/tool.min.js"></script>
    <!-- Visualime Tracking Code -->
    <!-- <script>
        !function (e, i, n, s, t, c) { e[s] || (visualime_site_id = "bb314ed3", e[s] = {}, e[s].callsQueue = [], e[s].api = function () { e[s].callsQueue.push(arguments) }, t = i.createElement(n), c = i.getElementsByTagName(n)[0], t.async = 1, t.src = "https://visualime.com/v/visualime-a8b745.min.js", t.id = s + n, c.parentNode.insertBefore(t, c)) }(window, document, "script", "VISUALIME");
    </script> -->
</body>

</html>